/* .color-footer { 
    background-color: #16a596;
    color: #f6f5f1;

}

font-size: small pt-4 mt-4;

.Container {
    text-center text-md-left
    text-align: center;
    font-size: md
}

.Row {

}

.Col {

} */