* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Source Code Pro", monospace;
    background-color: #b0a9a9;
  }
  
  nav {
    height: 30px;
    width: 100%;
    background-color: rgb(176, 169, 169, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #6187d8;
    transition: 0.3s;
  }
  
  .links:hover {
    color: rgb(128, 179, 128);
    border-color: #6187d8;
    background-color: #6187d8;
    padding: 4px;
    border-radius: 4px;
  }
  
  h1 {
    font-weight: bolder;
  }
  
  section + h1 {
    color: #6187d8;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  .banner {
    position: relative;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../Eindopdracht/Images/cooking.jpg);
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
  }
  
  .bannerT {
    margin-top: 100px;
    margin-right: 225px;
    width: 350px;
    color: #6187d8;
  }
  
  button {
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 12px;
    margin-right: 9px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Lobster", cursive;
    transition: 0.6s;
    cursor: pointer;
  }
  
  .blue {
    color: #6187d8;
    border: 1px solid;
    border-color: rgb(128, 179, 128);
  }
  .blue:hover {
    color: rgb(128, 179, 128);
    border-color: #6187d8;
    background-color: #6187d8;
  }
  
  .green {
    color: rgb(128, 179, 128);
    border: 1px solid;
    border-color: #6187d8;
  }
  
  .green:hover {
    color: #6187d8;
    border-color: rgb(128, 179, 128);
    background-color: rgb(128, 179, 128);
  }
  
  .popG {
    text-align: center;
    text-transform: capitalize;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .pCard {
    margin-top: 40px;
    width: 300px;
  }
  
  .showM {
    text-align: end;
    margin-top: 4px;
  }
  
  .priceFlex {
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    color: #6187d8;
  }
  
  .pasta {
    height: 220px;
    width: 235px;
    border-radius: 50%;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: auto;
    font-size: 13px;
  }
  
  .chef {
    width: 460px;
    margin-top: 40px;
  }
  
  .menuCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  
  .menuT {
    width: 265px;
    height: 150px;
  }
  
  footer {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    height: 180px;
    background-color: rgb(128, 179, 128);
    color: #6187d8;
  }
  
  .contact,
  .navigation {
    margin: 15px 1px;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 3px;
  }
  
  footer h2 {
    margin-bottom: 10px;
  }
  
  i {
    scale: 1.5;
    margin-right: 12px;
    cursor: pointer;
  }
  
  i:hover {
    animation: spinaround 1s linear;
  }
  
  @keyframes spinaround {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  /* MEDIA QUERIES */
  
  @media only screen and (min-device-width: 310px) and (max-device-width: 480px) {
    nav {
      justify-content: space-evenly;
    }
  
    .bannerT {
      margin: 80px auto;
      text-align: center;
    }
  
    button {
      display: block;
      margin: 12px auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .popG {
      flex-direction: column;
      justify-content: center;
    }
  
    .chef {
      display: none;
    }
  }
  