body {
  background-color: #ff4646;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header1 {
  text-align: center;
  color: #fff5c0;
  font-size: 100px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 100px;
  margin-left: 40px;
  color: #ff8585;
  border-radius: 50%;
}

.holidaytile {
  background-color: #ffb396 !important;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
